<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613517731147-de0g87enr6sg6dg6popvanb956m3mfc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613517731147-de0g87enr6sg6dg6popvanb956m3mfc6</string>
	<key>API_KEY</key>
	<string>AIzaSyD_f7RDxl1dEAMSKAWVvkLVPRNZyTfAvwY</string>
	<key>GCM_SENDER_ID</key>
	<string>613517731147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centannialcollege.IOS-MAPD714-Test2</string>
	<key>PROJECT_ID</key>
	<string>ios-bmi</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-bmi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613517731147:ios:15e36ab22871486f97b4ce</string>
	<key>DATABASE_URL</key>
	<string>https://ios-bmi.firebaseio.com</string>
</dict>
</plist>